.shoppage-row
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 900px;
    row-gap: 7px;
}

.shoppage-row a
{
    color: black;
    margin: 0px;
}

.shop-category-window
{
    display: flex;
    flex-direction: row;
    height: 93%;
    column-gap: 18px;
}

.shop-category-thumbnail-container
{
    flex: 1;
    height: 100%;
    display: flex;
}


.shop-category-thumbnail
{
    width: clamp(430px, 100%, 650px);
}

.shop-window-text-container
{
    text-align: center;
}

.shop-window-text
{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.shop-subcategories
{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 18px;
    height: 100%;
    align-content: space-around;
}

@media (max-width: 1300px)
{
    .shop-subcategories
    {
        grid-template-columns: 1fr 1fr;
        column-gap: 0px;
    }
}

.single-subcategory
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subcategory-thumbnail
{
    height: 90%;
    width: 90%;
}

.subcategory-text
{
    flex: 1;
    font-size: 20px;
    text-align: center;
}

