{% extends "admin/admin_base.html" %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin/admin_sidebar.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin/create_form.css')}}">
{% endblock %}


{% block content %}
<form class="form-content" action="#" method="POST" enctype="multipart/form-data">
    <div class="input-field">
        <p>Sub-Category Name:</p>
        <input type="text" class="item-name" name="subtag-name">
    </div>

    <div class="input-field">
        <p id="description-text">Description:</p>
        <textarea rows="6" cols="25" class="item-description" name="subtag-descriptions"></textarea>
    </div>

    <div class="input-field">
        <p>Choose Photo:</p>
        <input class="file-input" type="file" name="files" accept="image/*"z>
    </div>

    <div>
        <button type="submit" class="create-button" name="submit_button" value="CREATE">CREATE</button>
    </div>
</form>
{% endblock %}
