{% extends "admin/admin_base.html" %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin/admin_sidebar.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin/create_form.css')}}">
{% endblock %}


{% block content %}
<form class="form-content" action="" method="POST" enctype="multipart/form-data">
    <div class="input-field">
        <p>Product Name:</p>
        <input type="text" class="item-name" name="item-name" value="{{product.item_name}}">
    </div>
    
    <div class="input-field">
        <p id="description-text">Description:</p>
        <textarea rows="6" cols="25" class="item-description" name="item-description">{{product.item_description}}</textarea>
    </div>

    <div class="input-field">
        <p id="price-text">Enter Price:</p>
        <input class="item-name" type="number" step="0.01" name="item-price" value="{{product.item_price}}"> 
    </div>

    <div class="input-field">
        <p>Choose category:</p>
        <select class="create-dropdown" name="p_tag" id="p_tag" onchange="updateList('s_tag', this.value, {{subtags}});" autocomplete="off">
            {% for tag in tags %}
            <option value="{{tag.tag_name}}" {% if tag.tag_name == itemtag %}selected{% endif %}>{{tag.tag_name}}</option>
            {% endfor %}
        </select>
        <p>Sub-category:</p>
        <select class="create-dropdown" name="s_tag" id="s_tag" autocomplete="off">
            {% for subtag in subtags %}
                {% if subtag[1] == itemtag %}
                    <option value="{{subtag[0]}}" {% if subtag[0] == itemsubtag %}selected{% endif %}>{{subtag[0]}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="input-field">
        <p>Current Photo:</p>
        <img class="product-image" src="/static/images/items/{{product.item_image}}">
    </div>

    <div class="input-field">
        <p>Change Photo:</p>
        <input class="file-input" type="file" name="files" accept="image/*">
    </div>

    <div>
        <button type="submit" class="create-button" name="submit_button" value="CREATE">EDIT</button>
    </div>
</form>
{% endblock %}

{% block page_scripts %}
<script src="{{ url_for('static', filename='scripts/product_create.js')}}"></script>
{% endblock %}  