<div class="centering-nav">
    <div class="left-top-nav">
        <a href="/home"><button class="store-icon">
            <img src="https://media.istockphoto.com/id/926251482/vector/furniture-store-home-furnishings-shop-single-flat-vector-icon-striped-awning-and-signboard.jpg?s=612x612&w=0&k=20&c=rt99TG7mSgB9HqkPrvpYlEHy_bjfpgC7kFp8TLb6CA0=" alt="store icon" width="90px" height="90px">
        </button></a>
        <a href="/home"><button class="nav-button">Home</button></a>
        <a href="/shop"><button class="nav-button">Shop</button></a>
        <a href="/shop/Deals"><button class="nav-button">Sales</button></a>
    </div>
    <div class="middle-top-nav">
        <input class="search-bar" type="text" placeholder="What can we help you find today?" id="inputURL">
        <button class="search-button" type="submit" OnClick="searchClick()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
              </svg>
        </button>
    </div>
    <div class="right-top-nav">
        <a href="/cart">
            <button class="nav-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                </svg>
                Cart
            </button>
        </a>
        <a href="/logout">
            <button class="nav-button">
                Sign Out
            </button>
        </a>
    </div>
</div>